body{
    background-color: rgb(216, 255, 242);
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding-left: 100px;
    

    
}

legend{
    text-decoration-line: underline;
}
       
